<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SBSWeb</title>

    <environment include="Development">
        <!-- bootstrap Style CSS File -->
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
        <!-- Custom Style CSS File -->
        <link rel="stylesheet" type="text/css" href="~/css/custom-style.css">
        <link rel="stylesheet" type="text/css" href="~/css/loaders.css" />
        <link rel="stylesheet" type="text/css" href="~/css/my-style.css" />
        <!-- Font-Awesome Style CSS File -->
        <link rel="stylesheet" type="text/css" href="~/font-awesome/css/font-awesome.min.css">
    </environment>
    <environment exclude="Development">
        <!-- bootstrap Style CSS File -->
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
        <!-- Custom Style CSS File -->
        <link rel="stylesheet" type="text/css" href="~/css/custom-style.css">
        <link rel="stylesheet" type="text/css" href="~/css/loaders.css" />
        <link rel="stylesheet" type="text/css" href="~/css/my-style.css" />
        <!-- Font-Awesome Style CSS File -->
        <link rel="stylesheet" type="text/css" href="~/font-awesome/css/font-awesome.min.css">
    </environment>
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@

    <!-- Page loading animation -->
    <div class="loader loader-bg">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Top navigation -->
    <nav class="navbar navbar-expand-md fixed-top top-nav">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto text-sm-center text-md-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">ΑΡΧΙΚΗ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">ΥΠΗΡΕΣΙΕΣ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img id="logo" src="~/images/spyros_logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="img/icons/menu.png"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto text-sm-center text-md-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#price">ΤΙΜΟΚΑΤΑΛΟΓΟΣ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">ΣΧΟΛΙΑ ΠΕΛΑΤΩΝ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">ΚΛΕΙΣΤΕ ΡΑΝΤΕΒΟΥ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">ΕΠΙΚΟΙΝΩΝΙΑ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <hr />
    <footer>
        <div class="copy-footer bg-primary py-2">
            <div class="container text-center text-light">
                <a href="https://www.facebook.com/Helpmycomputer-412713565521036/"> V.S Services</a>
                &copy;<span id="year"></span>
                <i> <u>All rights reserved</u></i>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <!-- Javascript Files  -->
        <script src="~/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="~/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="~/js/core.js"></script>
        <script src="~/js/my-js.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- Javascript Files  -->
        <script src="~/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="js/core.js"></script>
        <script src="~/js/my-js.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
