@{
    ViewData["Title"] = "Home Page";
}

<section id="home" class="intro intro-bg bg-overlay parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 caption-two-panel ml-auto pt-5">
                <div class="intro-caption mt-5">
                    <h1 class="text-white mb-2">It's not really hard to stand out in crowd</h1>
                    <p class="text-white mb-4"> These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                    <a class="btn btn-primary text-white mr-3">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info block 1 -->
<section id="services" class="info-section text-white bg-right bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="head-box">
                    <h2 class="font-abril ">ΥΠΗΡΕΣΙΕΣ!</h2>
                </div>
                <div class="three-panel-block mt-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <i class="icon-box mb-3 float-left w-100"><img src="~/images/icons/scissors.png" class="img-fluid"></i>
                                <h3 class="text-primary">Κούρεμα</h3>
                                <p>Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <i class="icon-box mb-3 float-left w-100"><img src="~/images/icons/razor-1.png" class="img-fluid"></i>
                                <h3 class="text-primary">ΞΥΡΙΣΜΑ SPECIAL</h3>
                                <p>Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block mb-5">
                                <i class="icon-box mb-3 float-left w-100"><img src="~/images/icons/brush.png" class="img-fluid"></i>
                                <h3 class="text-primary">Ξύρισμα</h3>
                                <p>Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="service-block">
                                <i class="icon-box mb-3 float-left w-100"><img src="~/images/icons/hair-clip.png" class="img-fluid"></i>
                                <h3 class="text-primary">ΠΑΙΔΙΚΟ ΚΟΥΡΕΜΑ</h3>
                                <p>Never in all their history have men been able truly to conceive of the world as one a single sphere</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Content block 1 -->
<section id="about" class="copy-content-sec sec-bg-02 h-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 copy-container ml-auto">
                <div class="copy-content pr-4">
                    <h2 class="font-abril text-primary">
                        SPYRO'S BARBERSHOP 
                    </h2>
                    <h3 class="font-abril text-primary">
                        ΔΕΝ ΕΙΝΑΙ HOBBY, ΕΙΝΑΙ ΤΡΟΠΟΣ ΖΩΗΣ!
                    </h3>
                    <p class="lead ml-2">
                        Σε έναν προσεγμένο χώρο που επικρατεί η απλότητα, η καλή διάθεση και η ειλικρίνεια, ο Σπύρος, με τη βοήθεια των προϊόντων Wella, φροντίζει την εμφάνιση σας για ένα αποτέλεσμα που θα σας ενθουσιάσει!
                    </p>
                    <p class="ml-2">
                        Το κομμωτήριο Spyros Barber Shop σας ευχαριστεί θερμά για την εμπιστοσύνη που του δείχνεται από την πρώτη μέρα λειτουργίας και υπόσχεται να συνεχίζει να εξασφαλίζει το καλύτερο δυνατό αποτέλεσμα, με διάθεση δημιουργικής δουλειάς αλλά και σεβασμό στις ιδιαίτερες ανάγκες του κάθε ατόμου ξεχωριστά
                    </p>
                    <p class="mt-4 ml-2">
                        <a href="#" class="text-primary">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info block 2 -->
<section id="price" class="info-section sec-bg-03 bg-overlay">
    <div class="container text-white">
        <div class="head-box text-center mb-5">
            <h2 class="font-abril">ΤΙΜΟΚΑΤΑΛΟΓΟΣ</h2>
        </div>
        <div class="three-panel-block my-4">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 pl-md-5 mb-4">
                    <div class="service-block-bg text-center p-3">
                        <div class="price-count font-abril">10<span>€</span></div>
                        <h3>Κούρεμα</h3>
                        <p class="px-4">Επιλέξτε το κλασικό ή μοντέρνο κούρεμα που ταιριάζει στον τύπο και τις δραστηριότητές σας και o Spyros θα το κάνει πράξη. Με χτένα, ψαλίδι ή μηχανή, δημιουργεί τη νέα, βελτιωμένη εικόνα του εαυτού σας, ενώ κατόπιν, με τα κατάλληλα προϊόντα styling ολοκληρώνει το κούρεμα με το ανάλογο χτένισμα</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pr-md-5 mb-4">
                    <div class="service-block-bg text-center p-3">
                        <div class="price-count font-abril">5<span>€</span></div>
                        <h3>Ξύρισμα</h3>
                        <p class="px-4">Ο Spyros, απλώνει το δροσερό αφρό στο πρόσωπο, με τη βοήθεια του πινέλου, συνεχίζει με πολύ καλό μασάζ, ιδανικό για να ανοίξουν οι πόροι της επιδερμίδας, έτσι ώστε να ακολουθήσει το κλασικό, πατροπαράδοτο ξύρισμα με φαλτσέτα.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pl-md-5 mb-4">
                    <div class="service-block-bg text-center p-3">
                        <div class="price-count font-abril">10<span>€</span></div>
                        <h3>Ξύρισμα Special</h3>
                        <p class="px-4">
                            Η κορωνίδα των υπηρεσιών του Spyros Barber shop, για τους άνδρες που εκτιμούν κι επιθυμούν την πολυτέλεια για τις ιδιαίτερες στιγμές της καθημερινότητας και της ζωής τους. Με τη βοήθεια της κατάλληλης για το δέρμα σας ενυδατικής, pre shave κρέμας, προετοιμάζουμε το πρόσωπο για τη ζεστή κομπρέσα που θα ανοίξει τους πόρους του δέρματος και θα το χαλαρώσει.
                            Συνεχίζουμε απλώνοντας τον αφρό ξυρίσματος και ξυρίζουμε με φαλτσέτα ανάλογα με τη φορά των τριχών. Για κόντρα ξύρισμα, επαναλαμβάνουμε τη διαδικασία, ξυρίζοντας αντίθετα από τη φορά των τριχών. Η χρήση ειδικής πέτρας αλουμινίου εξαλείφει τους ερεθισμούς για το επόμενο στάδιο, αυτό του χαλαρωτικού μασάζ. Πιέζουμε τα σωστά σημεία του προσώπου και χαλαρώνουμε τους μύες του. Ακολουθεί η εναλλαγή ζεστού – κρύου για την απόλυτη σύσφιξη του δέρματος.
                            Η ειδική αυτή περιποίηση περιλαμβάνει καθαρισμό με ειδικό σαπούνι των ζυγωματικών, της μύτης και του μετώπου, καθώς και απολέπιση με το κατάλληλο για την επιδερμίδα σας scrub. Το επόμενο στάδιο είναι η εφαρμογή ειδικής μάσκας προσώπου και η απόλαυσή σας ολοκληρώνεται με την ενυδατική κρέμα, που αφήνει το δέρμα μαλακό και πλήρως αναζωογονημένο.
                            Μια εμπειρία που θα σας μείνει αξέχαστη.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pr-md-5">
                    <div class="service-block-bg text-center p-3">
                        <div class="price-count font-abril">5<span>€</span></div>
                        <h3>Παιδικό Κούρεμα</h3>
                        <p class="px-4">Η μύηση των μικρών κυρίων στην αισθητική, έχει ιδιαίτερη σημασία. Με ιδιαίτερη φροντίδα, ευαισθησία και φαντασία, το Spyro’s Barber Shop καλλιεργεί τη σχέση τους με την ανδρική περιποίηση, θέτοντας τις σωστές βάσεις στυλ, που θα τους ακολουθεί στην εφηβική και ενήλικη ζωή τους</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Testimonial Block 01-->
<section id="testimonial" class="testimonial-section sec-bg-04 py-5 h-100">
    <div class="container">
        <div class="row">
            <div class="head-box text-center mb-3 col-md-12 mt-5">
                <h2 class="font-abril">What Our Clients Says About Us</h2>
            </div>
        </div>
        <div class="single-testimonial">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner pt-5" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial-box text-center">
                            <div class="testimonial-content w-100 bg-faded">
                                <p class="mb-0"><i class="fa fa-quote-left fa-3x" aria-hidden="true"></i></p>
                                <p class="lead font-abril">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="testimonial-footer">
                                    <h4 class="mt-2 mb-0 text-primary">Gerald Montgomery</h4>
                                    <p>-United States</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-box text-center">
                            <div class="testimonial-content w-100 bg-faded">
                                <p class="mb-0"><i class="fa fa-quote-left fa-3x" aria-hidden="true"></i></p>
                                <p class="lead font-abril">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.</p>
                                <div class="testimonial-footer">
                                    <h4 class="mt-2 mb-0 text-primary">Harper Robertson</h4>
                                    <p>-United States</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigator-box">
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Block -->
<section id="contact" class="contact-section h-100 bg-dark">
    <div id="map" class="bg-overlay"></div>
    <div class="container py-5">
        <div class="col-lg-8 col-md-6 col-sm-10 form-sec bg-white my-5 p-5 mx-auto">
            <form>
                <h2 class="mb-4">Επικοινωνήστε μαζί μας!</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="formGroupExampleInput">Ονοματεπώνυμο</label>
                            <input class="form-control" id="formGroupExampleInput" placeholder="Ονοματεπώνυμο" onfocus="this.placeholder=''" onblur="this.placeholder='Full Name'" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="formGroupExampleInput2">Τηλέφωνο</label>
                            <input class="form-control" id="formGroupExampleInput2" placeholder="Τηλέφωνο" onfocus="this.placeholder=''" onblur="this.placeholder='Phone Number'" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="formGroupExampleInput2">Email</label>
                            <input class="form-control" id="formGroupExampleInput2" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email Address'" type="email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="formGroupExampleInput2">Διεύθυνση</label>
                            <input class="form-control" id="formGroupExampleInput2" placeholder="Διεύθυνση" onfocus="this.placeholder=''" onblur="this.placeholder='Enter Address'" type="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="sr-only" for="formGroupExampleInput2">Message</label>
                            <textarea class="form-control" placeholder="Enter your message here!" rows="4" onfocus="this.placeholder=''" onblur="this.placeholder='Γράψτε το μήνυμά σας εδώ!'"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-capsul px-4">Αποστολή</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>